* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;
}
/* Header med 'logo' og portræt billede af Anne Qvist*/
.header {
  width: 85%;
  height: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #b9b7b3;
}
h1 {
  font-size: 40px;
  font-family: "Abhaya Libre", serif;
}
h2 {
  font-size: 15px;
  font-family: "Abhaya Libre", serif;
}
.logo {
  text-align: center;
  padding-top: 55px;
}
.portrætfarmor {
  width: 250px;
  height: 400px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Max Mara beskrivelse med billeder og tekst*/

.maxmara {
  width: 100%;
  height: 2600px;
  margin-top: 35px;
  display: block;
  background-color: #b7a38f;
}
.logomaxmara {
  width: 85%;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.runway {
  width: 85%;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 85%;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.swim {
  width: 85%;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bag {
  width: 85%;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*Hvem er Anne & Louise Qvist med billeder og tekst*/

.anneqvist {
  width: 100%;
  height: 1950px;
  margin-top: 35px;
  display: block;
  background-color: #f4f4f4;
}
.butiksfacade {
  width: 85%;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  width: 85%;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.portrætfarmoroglouise {
  width: 85%;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*Nyhedsbrev, hvor man kan skrive sig op og modtage tilbud - Kilde; https://www.youtube.com/watch?v=u8jfMY8GcGI*/

.nyhedsbrev {
  width: 100%;
  height: 310px;
  margin-top: 35px;
  display: block;
  background-color: #b7a38f;
}
.nyhedsbrevtekst1 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #f4f4f4;
  width: 85%;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.nyhedsbrevtekst2 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: white;
  width: 85%;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.box {
  width: 60%;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.box input {
  width: 200px;
  padding: 8px;
  border-style: none;
  margin-right: 40px;
  margin-bottom: 20px;
}
.box button {
  width: 217px;
  padding: 8px;
  border-style: none;
  background-color: #745549;
  color: white;
}
/*Footer med info*/

.footer {
  display: flex;
  width: 100%;
  height: 250px;
  margin-top: 35px;
  background-color: #f4f4f4;
}
.butikken {
  width: 50%;
}
.butikken h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  width: 85%;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.butikken p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  width: 85%;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.åbningstider {
  width: 50%;
}
.åbningstider h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  width: 85%;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.åbningstider p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  width: 85%;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*sociale medielinks - kilde; https://www.youtube.com/watch?v=Hskt1jN7JTc*/

.social {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 35px;
  background-color: #f4f4f4;
}

.face {
  width: 50%;
  margin-left: 25%;
}
.insta {
  width: 50%;
  margin-right: 25%;
}

.media {
  font-size: 80px;
  color: gray;
  transition: color 0.2s;
  text-align: center;
}
.media :hover {
  color: black;
}
/*Mobilversion slutter her*/

/*Tabletversion starter her*/

@media only screen and (min-width: 600px) {
  body {
  }
  .maxmara {
    height: 3000px;
  }
  .anneqvist {
    height: 1700px;
  }
}
@media only screen and (min-width: 700px) {
  body {
  }
  .maxmara {
    height: 3500px;
  }
  .anneqvist {
    height: 1700px;
  }
}

@media only screen and (min-width: 1440px) {
  body {
  }
  .header {
    width: 94%;
    height: 650px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .logo {
    padding-top: 95px;
    height: 200px;
    width: 800px;
  }
  h1 {
    font-size: 100px;
    font-family: "Abhaya Libre", serif;
  }
  h2 {
    font-size: 25px;
    font-family: "Abhaya Libre", serif;
  }
  .portrætfarmor {
    position: absolute;
    top: 50px;
    right: 90px;
    margin: 0;
    width: 500px;
    height: 700px;
  }

  .maxmara {
    height: 1500px;
  }
  .logomaxmara {
    width: 600px;
    margin-left: 800px;
  }
  .runway {
    position: absolute;
    top: 490px;
    left: 170px;
    width: 500px;
    padding-top: 0;
  }
  .citat {
    width: 500px;
    height: 250px;
    margin-top: 360px;
    margin-left: 50px;
  }
  .swim {
    width: 700px;
    padding-top: 0;
    position: absolute;
    top: 1000px;
    right: 100px;
  }
  .maxmaratekst {
    width: 800px;
    height: 250px;
    margin-top: 80px;
    margin-left: 800px;
    margin-bottom: 90px;
  }
  .bag {
    width: 450px;
    padding-top: 35px;
    position: absolute;
    top: 1600px;
    left: 200px;
  }
  .korttekst {
    width: 300px;
    height: 150px;
    margin-top: 180px;
    margin-left: 100px;
    margin-bottom: 300px;
  }

  .anneqvist {
    height: 1250px;
  }
  .butiksfacade {
    width: 1000px;
    position: absolute;
    top: 2350px;
    left: 690px;
  }
  .omostekst {
    width: 500px;
    height: 150px;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .portrætfarmoroglouise {
    width: 650px;
    padding-top: 135px;
    position: absolute;
    top: 2900px;
    left: 100px;
  }
  .annetekst {
    width: 900px;
    height: 550px;
    margin-top: 620px;
    margin-left: 790px;
  }

  .nyhedsbrev {
    height: 370px;
  }
  .nyhedsbrevtekst1 {
    padding-top: 50px;
    font-size: 35px;
    text-align: center;
  }
  .nyhedsbrevtekst2 {
    font-size: 15px;
    text-align: center;
    width: 400px;
  }
  .box {
    width: 600px;
    margin-top: 90px;
  }
  .box input {
    width: 400px;
    padding: 15px;
    border-style: none;
    margin-right: 5px;
    margin-bottom: 20px;
  }
  .box button {
    width: 150px;
    padding: 15px;
    border-style: none;
    background-color: #745549;
    color: white;
  }

  .butikken {
    margin-left: 100px;
    width: 200px;
  }
  .social {
    width: 50px;
    padding-top: 35px;
    position: absolute;
    top: 4100px;
    left: 1700px;
  }

  .face {
    width: 80px;
    margin-left: 0;
  }
  .insta {
    width: 80px;
    margin-right: 0;
  }
  .media {
    font-size: 50px;
  }
}
